.row /* idk dimensions */
{
	/*width: 30%; */
	height: 500px;
	padding-top: 30px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 0px;
}

.right
{
	float: right;
}

.left
{
	float: left;
}

.header
{
	font-weight: bold;
	font-size: 28px; /*idk actual size */
}

.description
{
	font-size: 18px;
	font-weight: lighter;
	/*color: grey;*/
	color: #D3D3D3	

}